@page
@model ElderSense.Pages.Sensores.IndexModel

@{
    ViewData["Title"] = "Sensores";
}

<h1>Sensores</h1>

<p>
    <a asp-page="Create">Adicionar Sensor</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Localização</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sensor in Model.Sensores)
        {
            <tr>
                <td>@sensor.Localizacao</td>
                <td>@sensor.Tipo</td>
                <td>
                    @if (sensor.Estado)
                    {
                        <span class="badge bg-success">Ativo</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Inativo</span>
                    }
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@sensor.Id" class="btn-acao btn-acao-editar">
                        <i class="ti ti-edit"></i> Editar
                    </a>
                    <a asp-page="Delete" asp-route-id="@sensor.Id" class="btn-acao btn-acao-apagar">
                        <i class="ti ti-trash"></i> Apagar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>